@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&family=Inter&display=swap');

*{
    box-sizing: border-box;
}
body, h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}
body{
    background: #111825;
}

h1, h2, p{
    font-family: 'Gothic A1', sans-serif;

}
li{
    list-style: none;
}
a{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
    
    
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
}

h1{
    font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
color: #FFFFFF;
}
h2{
    font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
color: #FFFFFF;
margin-bottom: 45px;
width: 412px;
}
h3{
    font-family: 'Gothic A1';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;

color: #FFFFFF;
}
p{
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
color: #FFFFFF;
}
header{
    display: flex;
    align-items: center;
   justify-content: space-between; 
    
    padding: 20px 100px;
    height: 90px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 70px;
}
.header-nav{
    display: flex;
    gap: 70px;
}

.general{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    padding: 0 100px;
    gap: 300px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.general-left{
    display: flex;
    flex-direction: column;
    width: 680px;
    
    
}
.title{
    width: 430px;
    margin-bottom: 25px;
}
.paragraf{
    margin-bottom: 93px;
}

.btn{
    padding: 18px 0;
    display: flex;
    justify-content: center;
    width: 242px;
    background: #074c8d;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
border-radius: 10px;

}
.order{
    order: 2 1;
    
}
.order-1{
    order: 1;
}

.about{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 150px;

}
.about-us{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}
.font{
    font-family: 'Gothic A1';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;

color: #FFFFFF;
}

.ert{
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 650px; 
}
.links{
    display: flex;
    gap: 17px;
}
.link{
    width: 34px;
    height: 34px;
}

footer{
    display: flex;
    align-items: center;
   justify-content: space-between; 
    
    padding: 20px 100px;
    height: 90px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.aobb{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    gap: 100px;
}
.patak{max-width: 1000px;
    font-family: 'Gothic A1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    
    color: #FFFFFF;
}
a:visited, a:active, a:link{
    color: white;
}
.hover{
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in;
}
.hover:hover{
color: #074c8d;
background-color: #FFFFFF;
}
.i{
    color: rgba(255, 255, 255, 0.5);
}